* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

body {
    background-color: #fdfdfd;
    max-width: 100%;
    max-height: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow-x: hidden;
}

#googleImg {
    margin-top: 30px;
}

#round {
    margin-top: 10px;
    width: 30px;
    height: 25px;
    border-radius: 50%;
}

a {
    color: #000;
    text-decoration: none;
}

.move {
    position: relative;
    top: -8px;
    margin-top: 10px;
}

#small {
    width: 15px;
    height: 15px;
    position: relative;
    top: -6px;
}

.navibar {
    width: 200px;
    position: absolute;
    top: 10px;
    right: 10px;
    margin-right: 10px;
}

.move,
#small {
    margin-right: 20px;
}

.move:hover {
    text-decoration: underline;
}

#googleImg {
    position: relative;
    top: 100px;
    left: 430px;
    width: 500px;
    z-index: 50;
}

.search {
    position: relative;
    top: 100px;
}

input {
    width: 500px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #fdfdfd;
    border: 1px solid #E0E0E0;
    outline: none;
    padding: 0 20px 0 20px;
}

#icon {
    background: url('images/search_icon.png');
    background-repeat: no-repeat;
    background-position: 7px 7px;
    padding-left: 15px;
}

#icon:hover {
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 4px #ccc;
}

.btn {
    position: relative;
    top: 120px;
}

.space1 {
    margin-right: 10px;
}

.space2 {
    margin-left: 10px;
}

.space1,
.space2 {
    margin-bottom: 20px;
    height: 40px;
    background-color: #f8f9fa;
    color: #585858;
    border: #B8B8B8;
}

p a {
    color: #1874CD;
    margin: 5px;
}

p a:hover {
    text-decoration: underline;
}

.foot {
    position: relative;
    top: 300px;
    height: 60px;
    width: 100%;
    background-color: #e8e8e8;
}

.foot1 {
    position: relative;
    left: -500px;
    top: 30px;
}

.foot2 {
    position: inherit;
    right: -550px;
    top: 10px;
}

.foot1 a {
    margin-left: 20px;
    color: #585858;
}

.foot2 a {
    margin-right: 20px;
    color: #585858;
}